#----------
# Binaries
#----------
bin/
obj/

#-----------------------
# IDE files and folder
#-----------------------
.vs/
.vscode/
.idea
#**.sln
#**.vcxproj
#**.vcxproj.filters
#**.vcxproj.user
#**.csproj